

body {
    background-color: #F9FAFC;
}

.thin {
    font-weight: 600;
}

.light-bg {
    background-color: #fff;
}
/*footer color*/
.dark-bg {
    background-color: #445261;
}
/*background color for main*/
.main-bg {
    background-color: white;
}



/* nav link box hover effect and text styling*/
.nav-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 18px;
    padding:0px 0px 0px 5px;
    border: 3px solid transparent; 
    transition: border-color 0.2s ease; 
}

.nav-link:hover {
    border-color: black;
}

/*Hero image*/

.hero-box {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: transparent; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-box-outline {
    position: relative;
    height: 290px;
    width: auto;
    padding: 20px 50px 20px 50px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    font-family: 'Raleway', sans serif;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 24px; 
    padding: 50px 50px 50px 50px;
}

.hero-user-text {
    font-family: 'Raleway', sans serif;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    padding-right: 20px;
}


/**Article**/
.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}
/*footer / border around */

.footer-box {
    border: 3px solid;
    border-color: black;
    margin: 5px 10px 5px 10px;
}
/*div within black box*/
.footer-content {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
/* All elements within box*/

.github-link-text {
    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: inline-flex; 
    align-items: center;
    margin: 0 10px;
    padding-top: 5px;
    padding-bottom: 5px;  
}
/*fa github icon*/

.github-link i {
    display: inline-flex; 
    align-items: center;
    color: black;
    margin-right: 15px;
}

.github-link-text:hover {
    color: #445261;
}